@{
    ViewData["Title"] = "公司介绍";
}

<!--navigation bar-->
<div class="crumb">
    <div class="container">
        <img src="~/images/TitleImg-1.jpg" alt="公司介绍/Company Introduce" title="公司介绍" class="img-responsive" />
    </div>
</div>
<div class="content">
    <div class="container">        
        <p>
            <strong>成都盈辉创动科技有限公司</strong>面向全川范围内优质企业客户，专注于为企业提供关于项目申报规划、政府政策及资质办理等咨询服务，致力于协助企业进行项目实施规划、资金申请和科技成果评价、高新技术企业认定及双软评估等资质认定工作。
        </p>
        <p>
            公司凭借优质的渠道资源和专业化、系统化的实效性服务，为企业提供优质的政策咨询、项目规划与管理服务，水平领先行业。在多年的发展过程中积累了丰富的渠道资源，通过不断地提升与完善，现已在川内企业商务信息咨询领域具有领先地位，已成为川内企业成长与发展过程中最好的合作伙伴。
        </p>
        <p>
            公司特色鲜明，资源丰富。具有以下几点领先于同行业的突出优势。
        </p>
        <p>
            <img width="10" height="10" src="file://C:\Users\LiYong\AppData\Local\Temp\ksohtml\wpsF98D.tmp.png" />专业化的项目申报管理团队，具备项目申报经验十年以上，是川内独家提供项目申报规划服务的高质团队。
        </p>
        <p>
            <img width="10" height="10" src="file://C:\Users\LiYong\AppData\Local\Temp\ksohtml\wpsF98E.tmp.png" />具备资质的知识产权运营团队，提供专利评估、培育、申请、保护、交易等知识产权商业化运作服务。
        </p>
        <p>
            <img width="10" height="10" src="file://C:\Users\LiYong\AppData\Local\Temp\ksohtml\wpsF98F.tmp.png" /><span>重点领域专家库，超过</span>100<span>名以上各行业领域专家支持，支撑科技服务，引领创新发展。</span>
        </p>
        <p>
            <img width="10" height="10" src="file://C:\Users\LiYong\AppData\Local\Temp\ksohtml\wpsF990.tmp.png" />具备资质的会计师事务所合作伙伴，已通过科技、经信等部门备案认证，具备专项审计资格，参与项目申报审计与验收审计工作。
        </p>
        <p>
            <br />
        </p>
    </div>
</div>
<!--navigation bar-->
