@{
    ViewData["Title"] = "经典案例";
}

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>经典案例
            </section>
            <ul id="classicList">
                <li>
                    兴发铝业（高企认定、战略性新兴产品、创新驱动资金）
                </li>
                <li>
                    锐成芯微（重点科技创新、重大科技发展、创新载体专项)
                </li>
                <li>
                    九天真空（战略性新兴产业、工业发展资金、外经贸发展资金）
                </li>
                <li>
                    四川晶腾（高企认定、重点新产品、创新基金、工业发展资金）
                </li>
                <li>
                    迪威消防（重点新产品、创新资金）
                </li>
                <li>
                    超纯应用材料（创新驱动）
                </li>
                <li>
                    华西医院（应用基础研究、软科学研究项目、医疗面上项目）
                </li>
                <li>.....</li>
            </ul>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftMenu.js"></script>
        <script src="~/js/leftMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftMenu.min.js" asp-append-version="true"></script>
    </environment>
}