@{
    ViewData["Title"] = "科技咨询";
}

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>科技咨询
            </section>
            <h3>项目申报</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;含各类国家级、省级、市级、区级的科技、经信、商务，组织部以及其他归口的各级政府部门资金、资质项目
            </p>
            <h3>提供最优服务质量</h3>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>服务定制 根据企业行业领域、规模大小、发展阶段等特点，为企业提供针对性的项目申报规划服务；
                </li>
                <li>
                    <span class="icon-circle"></span>实时调控 根据部门政策变动、企业业务调整、行业市场现况实时把控项目申报进度，确立最适合企业发展的项目申报方案；
                </li>
                <li>
                    <span class="icon-circle"></span>立体管理 多部门合作支持，一手信息资源，多渠道优势管理，全程追踪跟进，全方位提升项目申报可行性；
                </li>
                <li>
                    <span class="icon-circle"></span>永久存档 电子材料、纸质材料双保险，高安全性账户管理，全程记录存档，专业化档案管理支撑，高效保障项目申报管理；
                </li>
            </ul>
            <img src="~/images/service-flow.png" alt="服务流程" class="img-responsive" />
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftMenu.js"></script>
        <script src="~/js/leftMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftMenu.min.js" asp-append-version="true"></script>
    </environment>
}