@{
    ViewData["Title"] = "首页";
}

    <!--banner-->
    <div id="banner">
        <div class="bd">
            <ul>
                <li><a href="#"><img src="/images/banner2.jpg" class="img-responsive" /></a></li>
                <li><a href="#"><img src="/images/banner4.jpg" class="img-responsive" /></a></li>
            </ul>
        </div>
    </div>
    <!--/banner-->
    <!--service-->
    <div id="service">
        <div class="container">
            <div class="title">
                <h3>公司业务</h3>
                <p>Company business</p>
            </div>
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <img src="/images/ico_1.png" class="img-responsive aligncenter img1" />
                        <h3>专利服务</h3>
                        <i></i>
                        <p class="description"><span>查看详情</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/ico_2.png" class="img-responsive aligncenter img2" />
                        <h3>商标版权</h3>
                        <i></i>
                        <p class="description"><span>查看详情</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/ico_3.png" class="img-responsive aligncenter img3" />
                        <h3>资质认证</h3>
                        <i></i>
                        <p class="description"><span>查看详情</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/ico_3.png" class="img-responsive aligncenter img3" />
                        <h3>科技咨询</h3>
                        <i></i>
                        <p class="description"><span>查看详情</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--/service-->
    <!--intro-->
    <div id="intro">
        <div class="container">
            <h2>公司简介</h2>
            <span>About Us</span>
            <div class="col-lg-4 text-right">
                <img src="~/images/intro_pic.jpg" alt="成都盈辉创动科技有限公司" style="border: solid 1px #fff;" />
            </div>
            <div class="col-lg-8 text-left" style="width:60%;">
                <p>成都盈辉创动科技有限公司面向全川范围内优质企业客户，专注于为企业提供关于项目申报规划、政府政策及资质 办理等咨询服务，致力于协助企业进行项目实施规划、资金申请和科技成果评价、高新技术企业认定及双软评估等资质认定工作。</p>
                <p>公司凭借优质的渠道资源和专业化、系统化的实效性服务，为企业提供优质的政策咨询、项目规划与管理服务， 水平领先行业。在多年的发展过程中积累了丰富的渠道资源，通过不断地提升与完善，现已在川内企业商务信息咨询 领域具有领先地位，已成为川内企业成长与发展过程中最好的合作伙伴。</p>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="more wow" data-wow-delay=".5s" title="查看详情"></a>
        </div>
    </div>
    <!--/intro-->
    <!--city-->
    <!--news-->
    @*<div id="news" class="container">
            <h3>新闻中心</h3>
            <span>NEWS</span>
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <img src="/images/img_7.png" />
                        <h3>2016广东省企业500强发布 深圳大生荣列第30位</h3>
                        <span>2016.008.19</span>
                        <i></i>
                        <p>8月3日，广东省企业联合会、广东省企业家协会发布2016年广东省企业500强及广东省民营企业100强榜单......</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/img_8.png" />
                        <h3>2016广东省企业500强发布 深圳大生荣列第30位</h3>
                        <span>2016.008.19</span>
                        <i></i>
                        <p>8月3日，广东省企业联合会、广东省企业家协会发布2016年广东省企业500强及广东省民营企业100强榜单......</p>
                    </a>
                </li>
                <li class="last">
                    <a href="#">
                        <img src="/images/img_9.png" />
                        <h3>2016广东省企业500强发布 深圳大生荣列第30位</h3>
                        <span>2016.008.19</span>
                        <i></i>
                        <p>8月3日，广东省企业联合会、广东省企业家协会发布2016年广东省企业500强及广东省民营企业100强榜单......</p>
                    </a>
                </li>
            </ul>
            <a href="#" class="more wow" data-wow-delay=".5s"></a>
        </div>*@
    <!--/news-->
    <!--link-->
    <div id="link" class="container">
        @*<i class="left"></i>
            <i class="right"></i>*@
        <ul class="clearfix">
            <li><a href="#"><img src="/images/link_1.png" /></a></li>
            <li><a href="#"><img src="/images/link_2.png" /></a></li>
            <li><a href="#"><img src="/images/link_3.png" /></a></li>
            <li><a href="#"><img src="/images/link_4.png" /></a></li>
            <li><a href="#"><img src="/images/link_5.png" /></a></li>
            <li><a href="#"><img src="/images/link_6.png" /></a></li>
        </ul>
    </div>
    <!--/link-->
@section Scripts {
    <script>
        $(document).ready(function () {

            $("#top .navBtn").click(function () {
                if ($("#top ul:visible").length == 0) {
                    $("#top ul").show()
                } else {
                    $("#top ul").hide()
                }

                $("#top .userBtn").click(function () {
                    if ($("#top .searck:visible").length == 0) {
                        $("#top .searck").show()
                    } else {
                        $("#top .searck").hide()
                    }
                })
            })

            $("#banner").slide({ mainCell: ".bd ul", autoPlay: true });
                        

            $("#leftsead a").hover(function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").show();
                } else {
                    $(this).children("img.hides").show();
                    $(this).children("img.shows").hide();
                    $(this).children("img.hides").animate({ marginRight: '0px' }, 'slow');
                }
            }, function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").hide('slow');
                } else {
                    $(this).children("img.hides").animate({ marginRight: '-143px' }, 'slow', function () { $(this).hide(); $(this).next("img.shows").show(); });
                }
            });

            $("#top_btn").click(function () { if (scroll == "off") return; $("html,body").animate({ scrollTop: 0 }, 600); });

        });
    </script>
}