@{
    ViewData["Title"] = "公司介绍";
}

<!--content-->
<div class="content">
    <div class="container">
        <!--menu bar-->
        <div class="menu-left pull-left">
            <ul>
                <li><a href="/Home/Patent">专利服务</a></li>
                <li><a href="/Home/Trademark">商标版权</a></li>
                <li><a href="/Home/Qualification">资质认证</a></li>
                <li><a href="/Home/Consulting">科技咨询</a></li>
            </ul>
        </div>
        <!--menu bar-->
        <div class="services-content pull-left">
            <p>
                <strong>★特色业务</strong>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●疑难发明专利实审答辩&nbsp;&nbsp;&nbsp;&nbsp; ●发明专利加急授权
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●前瞻性和职称专利定制&nbsp;&nbsp;&nbsp;&nbsp; ●涉外专利、商标
            </p>
            <p>
                &nbsp; &nbsp; ●高新技术企业认定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; ●税务咨询和运筹
            </p>
            <p>
                <strong>★知识产权</strong>
            </p>
            <p>
                <strong>商标</strong>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●商标注册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; ●商标查询
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●商标许可合同备案&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; ●商标变更、续展、转让
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●商标复审&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; ●驰名商标，省、市著名商标认定
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●海外商标事务
            </p>
            <p>
                <strong>著作权</strong>
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●计算机软件登记或公正&nbsp;&nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●版权登记或公正
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●权利转让、许可、继承登记或公正
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; ●申请司法行政保护 &nbsp;&nbsp;
            </p>
        </div>
        <h3>申请专利的好处：</h3>
        <ul id="characteristic">
            <li>
                <span class="icon-circle"></span>是申报各类政府项目的必备条件之一；
            </li>
            <li>
                <span class="icon-circle"></span>可以对申请专利的技术和产品进行保护；
            </li>
            <li>
                <span class="icon-circle"></span>可以通过专利权获得专利许可费，或者通过转让（出售）专利获得专利转让费；
            </li>
        </ul>
    </div>
</div>
<!--content-->
