@{
    ViewData["Title"] = "专利服务";
}

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>专利服务
            </section>
            <h3>
                发明专利
            </h3>
            <p class="bold">
                &nbsp;&nbsp;&nbsp;&nbsp;哪些发明创造可以申请发明专利?
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;一般说来，在进行技术开发、新产品研制过程中取得的成果，因其技术水平较高，都应申请发明专利。例如，对激光技术的应用进行开发研究，将激光全息或光栅光刻瘸蚀方法用于合成皮革制造，而研制出一种全息光栅合成皮革。那么，无论是这种皮革本身还是其制造方法均应申请发明专利。再例如：用生化技术的方法研制出的药品，该药品和制造该药品的方法都应该申请发明专利。还如：某厂提出了改进空气压缩机的设计方案，该方案是可实现的，其实施后的效果将大大降低生产成本，提高机器性能，该方案就可以提出申请发明专利。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;申请发明专利的技术既可以是对某一学科或某一技术领域带来革命性变化的开拓型或开创型发明，也可以是在现有技术基础上加以局部的改进和发展的改进型发明。
            </p>
            <p class="bold">
                &nbsp;&nbsp;&nbsp;&nbsp;申请流程:
            </p>
            <p class="arrow-container">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-success btn-arrow-right">受理</span><span class="btn btn-info btn-arrow-right">初步审查</span><span class="btn btn-primary btn-arrow-right">公布</span><span class="btn btn-danger btn-arrow-right">实质审查</span><span class="btn btn-success btn-arrow-right">授权</span>
            </p>
            <h3>
                实用新型专利
            </h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;实用新型专利指的产品形状, 是指产品所具有的、可以从外部观察到的确定的空间形状。无确定形状的产品，如气态、液态、粉末状、颗粒状的物质或材料，其形状不能作为实用新型产品的形状特征。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;实用新型专利指的产品构造是指产品的各个组成部分的安排、组织和相互关系。 实用新型专利只保护产品。该产品应当是经过工业方法制造的、占据一定空间的实体。一切有关方法(包括产品的用途)以及未经人工制造的自然存在的物品不属于实用新型专利的保护客体。
            </p>           
            <p class="bold">
                &nbsp;&nbsp;&nbsp;&nbsp;申请流程:
            </p>
            <p class="arrow-container application-flow">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-success btn-arrow-right">申请</span><span class="btn btn-danger btn-arrow-right">审查</span><span class="btn btn-success btn-arrow-right">授权</span>
            </p>
            <h3>
                外观设计专利
            </h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;外观设计专利（Industrial Design）是指：对产品的形状、图案、色彩或者其结合所做出的富有美感并适于工业上应用的新设计。外观设计是指工业品的外观设计，也就是工业品的式样。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;外观设计专利是专利权的客体，是专利法保护的对象，是指依法应授予专利权的外观设计。中国《专利法》第二条中规定：“外观设计，是指对产品的形状、图案或者其结合以及色彩与形状、图案的结合所做出的富有美感并适于工业应用的新设计。可见，外观设计专利应当符合以下要求：
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;⑴是指形状、图案、色彩或者其结合的设计；
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;⑵必须是对产品的外表所作的设计；
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;⑶必须富有美感；
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;⑷必须是适于工业上的应用
            </p>
            <p class="bold">
                &nbsp;&nbsp;&nbsp;&nbsp;申请流程:
            </p>
            <p class="arrow-container application-flow">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-success btn-arrow-right">申请</span><span class="btn btn-danger btn-arrow-right">审查</span><span class="btn btn-success btn-arrow-right">授权</span>
            </p>
            <h3>
                涉外专利
            </h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;专利合作条约（Patent Cooperation Treaty 简称“PCT”）签订于1970年，并于1978年生效。中国于1994年1月1日正式加入PCT，中国国家知识产权局是中国（含港、澳、台地区）国民或居民的主管受理局，同时也是国际检索单位和国际初步审查单位。中国（含港、澳、台地区）申请人提出国际申请，应当委托涉外专利代理机构办理。中国（含港、澳、台地区）申请人可以向中国国家知识产权局也可以向国际局提交国际申请。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;一、PCT国际专利申请包括：国际阶段和国家阶段两部分
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 1、PCT国际阶段
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 1)、受理专利申请和对专利进行形式审查；
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 2)、国际检索；
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 3)、国际初步审查。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;国际检索的目的是提供与该国际申请有关的现有技术资料；国际初步审查的目的是为该国际申请提供有关其新颖性、创造性和工业实用性的初步审查意见。经过国际检索、国际公布以及国际初步审查这一国际阶段之后，专利申请人办理进入国家阶段的手续。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 2、PCT国家阶段
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;相关PCT成员国审查决定PCT专利申请是否能获得该国的专利。PCT申请人资格，条约各缔约国的国民或者居民都有权提出国际申请，因此，中国的国民（包括单位和个人，并且不论其居住地或者营业所所在地是否在中国境内）和居民（不论其国籍是否属于中国）都有权提出国际申请。
            </p>

            <h3>申请专利的好处：</h3>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>是申报各类政府项目的必备条件之一；
                </li>
                <li>
                    <span class="icon-circle"></span>可以对申请专利的技术和产品进行保护；
                </li>
                <li>
                    <span class="icon-circle"></span>可以通过专利权获得专利许可费，或者通过转让（出售）专利获得专利转让费；
                </li>
            </ul>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftMenu.js"></script>
        <script src="~/js/leftMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftMenu.min.js" asp-append-version="true"></script>
    </environment>
}