@{
    ViewData["Title"] = "专利服务";
}

<!--content-->
<section class="content">
    <section class="container">
        <!--menu bar-->
        <section class="menu-left pull-left hidden-sm hidden-xs"">
            <ul>
                <li class="current"><a href="/Home/Patent">专利服务</a></li>
                <li><a href="/Home/Trademark">商标版权</a></li>
                <li><a href="/Home/Qualification">资质认证</a></li>
                <li><a href="/Home/Consulting">科技咨询</a></li>
                <li><a href="/Home/Classic">经典案例</a></li>
            </ul>
        </section>
        <!--menu bar-->
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>专利服务
            </section>
            <h3>★专利服务</h3>
            <p>
                ●发明专利
            </p>
            <p>
                ●实用新型专利
            </p>
            <p>
                ●外观设计专利
            </p>
            <p>
                ●涉外专利
            </p>
            <h3>申请专利的好处：</h3>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>是申报各类政府项目的必备条件之一；
                </li>
                <li>
                    <span class="icon-circle"></span>可以对申请专利的技术和产品进行保护；
                </li>
                <li>
                    <span class="icon-circle"></span>可以通过专利权获得专利许可费，或者通过转让（出售）专利获得专利转让费；
                </li>
            </ul>
        </section>
    </section>
</section>
<!--content-->
