@{
    ViewData["Title"] = "资质认证";
}

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>资质认证
            </section>
            <h3>★高新技术企业认定</h3>
            <p>高新技术企业是指在《国家重点支持的高新技术领域》内，持续进行研究开发与技术成果转化，形成企业核心自主知识产权，并以此为基础开展经营活动，在中国境内（不包括港、澳、台地区）注册一年以上的居民企业。它是知识密集、技术密集的经济实体。</p>
            <h4>申请高新技术企业的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span><strong>税收减免</strong> 认定后的高新技术企业的<strong>企业所得税税率</strong>由原来的<strong>25%降为15%</strong>，相当于在原来基础上降低了40%；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>科研经费支持和财政拨款</strong> 经认定的高新技术企业可享受国家、省、市有关优惠政策，更容易获得国家、省、市各级的科研经费支持和财政拨款；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>国家级的资质认证硬招牌</strong>；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>提升企业品牌形象</strong>；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>促进企业科技转型</strong>；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>提高企业市场价值</strong>；
                </li>
                <li>
                    <span class="icon-circle"></span><strong>提高企业资本价值</strong>；
                </li>
            </ul>
            <p></p>
            <h3>★知识产权贯标</h3>
            <p>知识产权贯标：对于企业来说，就是贯彻《企业知识产权管理规范》国家标准。</p>
            <h4>知识产权贯标的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>知识产权贯标是企业知识产权工作的基础条件，是企业申报科技项目的前提；
                </li>
                <li>
                    <span class="icon-circle"></span>贯标有助于提升企业知识产权意识，调动企业发明创造的积极性；
                </li>
                <li>
                    <span class="icon-circle"></span>推动企业产生具备高附加值的自主知识产权的新产品、新技术；
                </li>
                <li>
                    <span class="icon-circle"></span>提升企业无形资产价值，巩固企业市场地位；
                </li>
                <li>
                    <span class="icon-circle"></span>贯标成功后可根据当年政策，享受政府财政补贴；
                </li>
            </ul>
            <p></p>
            <h3>★科技成果评价</h3>
            <p>科技成果是指由科技行政部门认可，在一定范围内经实践证明先进、成熟、适用，能取得良好经济、社会或生态环境效益的科学技术成果。</p>
            <h4>科技成果评价的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>为企业项目申报加分 科技成果评价是国家科技成果登记和推荐国家科技奖励的重要辅证材料，是申报国家级项目的加分项；
                </li>
                <li>
                    <span class="icon-circle"></span>申请国家项目经费更加有保障；
                </li>
                <li>
                    <span class="icon-circle"></span>形成行业专家企业长期合作；
                </li>
                <li>
                    <span class="icon-circle"></span>提升企业在市场中的竞争力；
                </li>
                <li>
                    <span class="icon-circle"></span>优先享受国家利好政策；
                </li>
            </ul>
            <p></p>
            <h3>★计算机信息系统集成资质认证</h3>
            <p>计算机信息系统集成资质：是指企业从事计算机信息系统集成的综合能力。根据信息产业部相关规定，凡从事计算机信息系统集成业务的单位，必须经过资质认证并取得《计算机信息系统集成资质证书》。</p>
            <p><strong>计算机信息系统集成资质分为：一级、二级、三级、四级</strong></p>
            <h4>申请计算机信息系统集成资质的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>有利于系统集成企业展示自身实力，有利于信息系统项目主建单位对项目承建单位的选择，降低前期沟通成本；
                </li>
                <li>
                    <span class="icon-circle"></span>有利于提高系统集成企业参与市场竞争的能力；
                </li>
                <li>
                    <span class="icon-circle"></span>有利于系统集成企业按照等级标准，加强自身建设，不断提高企业的经营、技术和管理能力；
                </li>
            </ul>
            <p></p>
            <h3>★管理体系认证服务</h3>
            <p>管理体系认证内容：ISO9001质量管理体系、ISO14001环境管理体系、ISO9001质量管理体系、OHSAS18001职业健康安全管理体系、ISO27001信息安全管理体系、ISO20000技术服务管理体系、ISO50001能源管理体系、TS16949质量管理体系。</p>
            <p><strong>计算机信息系统集成资质分为：一级、二级、三级、四级</strong></p>
            <h4>管理体系认证的意义：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>使企业的管理走向法制化的重要途径；
                </li>
                <li>
                    <span class="icon-circle"></span>是发动全体员工参与管理的好形式；
                </li>
                <li>
                    <span class="icon-circle"></span>使企业建立起主动的自我完善；
                </li>
                <li>
                    <span class="icon-circle"></span>向公众展示企业良好形象和社会责任的佐证和媒介；
                </li>
                <li>
                    <span class="icon-circle"></span>管理体系与国际接轨，可取得打开国际市场的“金钥匙”；
                </li>
                <li>
                    <span class="icon-circle"></span>有利于市场开拓，发展新客户；
                </li>
                <li>
                    <span class="icon-circle"></span>提高顾客满意度；
                </li>
                <li>
                    <span class="icon-circle"></span>树立企业形象，提高企业知名度，取得宣传效益，具有直接或间接经济效益、社会效益；
                </li>
            </ul>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftMenu.js"></script>
        <script src="~/js/leftMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftMenu.min.js" asp-append-version="true"></script>
    </environment>
}