@{
    ViewData["Title"] = "商标版权";
}

<!--content-->
<section class="content">
    <section class="container">
        @Html.Partial("LeftMenuPartial")
        <section class="services-content pull-left">
            <section class="crumb">
                <img src="~/images/icon-home.png" alt="首页" />&nbsp;&nbsp;<a href="/">首页</a>>商标版权
            </section>
            <h3>★商标</h3>
            <p>是用来区别一个经营者的品牌或服务和其他经营者的商品或服务的标记。包括：商品商标、服务商标和集体商标、证明商标。</p>
            <h4>商标注册的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>避免在无意中侵犯他人的注册商标使用权，支付巨额赔偿费；
                </li>
                <li>
                    <span class="icon-circle"></span>可以在全国范围内受到法律保护，其他任何人均不得擅自使用；
                </li>
                <li>
                    <span class="icon-circle"></span>避免自己苦心设计、经营的品牌被他人抢注；
                </li>
                <li>
                    <span class="icon-circle"></span>可注册商标更容易占领市场，赢得消费者信任；
                </li>
                <li>
                    <span class="icon-circle"></span>注册商标是一种重要的无形资产，可以转让、许可使用、继承、投资、低压等，通过续展流传后世；
                </li>
            </ul>
            <p></p>
            <h3>★版权登记</h3>
            <p>版权登记，主要包括文字作品、口述作品、美术摄影作品、影视作品、录像作品、工程设计和产品设计等。</p>
            <h4>申请版权登记的好处：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>可维护作者和著作权人及作品使用人的合法权益；在授权活动中更加畅通；
                </li>
                <li>
                    <span class="icon-circle"></span>有利于作品的传播和经济价值的体现,在版权贸易中，可以顺利进行；
                </li>
                <li>
                    <span class="icon-circle"></span>发生版权纠纷和出现盗版情况时，能得到强有力的法律保障；
                </li>
            </ul>
            <p></p>
            <h3>★软件著作权登记</h3>
            <p>软件著作权（属于版权保护的一种）是指软件的开发者或者其他权利人依据有关著作权法律的规定,对于软件作品所享有的各项专有权利。</p>
            <h4>软件著作权登记意义：</h4>
            <ul id="characteristic">
                <li>
                    <span class="icon-circle"></span>作为法律重点保护的依据；
                </li>
                <li>
                    <span class="icon-circle"></span>作为技术出资入股；
                </li>
                <li>
                    <span class="icon-circle"></span>作为申请科技成果的依据；
                </li>
                <li>
                    <span class="icon-circle"></span>企业破产后的有形收益；
                </li>
                <li>
                    <span class="icon-circle"></span>软件著作权登记证书也是企业获得国家税收减免、人才优惠等国家政策的条件；
                </li>
            </ul>
        </section>
    </section>
</section>
<!--content-->
@section Scripts {
    <environment include="Development">
        <script src="~/js/Json/LeftMenu.js"></script>
        <script src="~/js/leftMenu.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/leftMenu.min.js" asp-append-version="true"></script>
    </environment>
}