<!--menu bar-->
<section class="menu-left pull-left hidden-sm hidden-xs" id="menu-left">
    <ul>
        <li class="current"><a href="/Home/Patent">专利服务</a></li>
        <li><a href="/Home/Trademark">商标版权</a></li>
        <li><a href="/Home/Qualification">资质认证</a></li>
        <li><a href="/Home/Consulting">科技咨询</a></li>
        <li><a href="/Home/Classic">经典案例</a></li>
    </ul>
</section>
<!--menu bar-->