/* CSS Document */
* {font-size:14px;}

/*top*/
#top{height:80px; line-height:80px; position:fixed; width:100%; z-index:9; top:0; background:#fff; border-bottom:1px solid #E6E6E6;}
#top ul{margin-left:123px;}
#top li{float:left;}
#top li.li2{width:87px;}
#top li a{display:inline-block; font-size:16px; padding:0 10px; color:#6F6F6F;}
#top li:hover a {background:#3ca3da; color:#fff;}
#top .current a {background:#3ca3da; color:#fff;}
#top li div{display:none; height:59px; line-height:59px; padding-left:42px; margin-top:-1px;}
#top li div a{color:#B7B7B9;}
#top li:hover div{display:block; width:1000px; background:#4E4C51;} 
#top li.li2:hover div a{background:none;}
#top span{display:block; width:1px; height:80px; background:#E7E7E7;}
#top p{font-size:13px; color:#8C8C8C; margin-left:14px;}
#top i{margin-top:35px; margin-left:10px;}
.navBtn,.userBtn{display:none;}

/*banner*/
#banner{margin-top:80px; width:100%; top:0; left:0; z-index:1;}

#banner .bd img{width:100%; display:block;}

.main{min-height:300px;}

/*service*/
#service{padding-top:48px; padding-bottom:65px; /*background:#F2F2F2;*/}
#service .title h3{font-size:26px; color:#333333; font-weight:normal; text-align:center;}
#service .title p{color:#9A9A9A; text-align:center; margin-top:14px;}
#service ul{margin-top:30px;}
#service li{width:25%; box-sizing:border-box; float:left; text-align: center; padding-right:20px;}
#service li h3{color:#595959; font-weight:normal; margin-top:29px; margin-bottom:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:20px;}
#service li span{font-size:13px; color:#B6B6B6;}
#service li p{margin-top:28px; display:block; }
#service li p span{font-size:14px; color:#666666;font-weight:bold;margin:0 auto; width:90px;height:30px; line-height:30px;display:block; border:solid 1px #3ca3da;}
#service li p span:hover {color:#efefef;background-color:#3ca3da;border:solid 1px #04517a}
#service li i{display:block; width:100px; height:1px; background:#DFDFDF; margin-left:150px; margin-top:13px; margin-bottom:22px;}
#service li a:hover i{width:26px; transition: all ease-out .2s}
#service li a:hover h3{color:#E60012;}
/*service*/

/*intro*/
#intro{border-top:1px solid #E8E8E8;background-color:#3ca3da;}
#intro>div{padding-top:52px;}
#intro>div h2{font-size:26px; color:#FFF; text-align:center; margin-left:auto; font-weight:normal;}
#intro>div span{color:#FFF; text-align:center; margin-top:12px; margin-bottom:30px; margin-left:auto; display:block;}
#intro p{color:#FFF; text-align:left; text-indent:2em;font-size:16px;}

#intro .more,#news .more {border: 1px solid #EFEFEF; position: relative; transition: all 0.5s ease 0s; height:32px; line-height:32px; text-align:center; margin-left:43%; margin-top:31px; margin-bottom:48px; display:block; width:160px; color: transparent; background:url(../images/jiantou.png) no-repeat 32px -97px; }

#intro a.more:hover,#news a.more:hover {border: 1px solid transparent; }

#intro a.more::after,#news a.more::after {content: ""; width: 160px; height: 32px; border: 3px solid transparent; opacity: 0; transition: all 0.5s ease 0s; margin: 0 auto; text-align: center; position: absolute; top: -1px; left: -1px; transform: scale(1, 1);}

#intro a.more:hover::after,#news a.more:hover::after { width: 158px; height: 36px; border: 3px solid #f6ac87; opacity: 1; margin: 0 auto; transform: scale(1.1, 1.1); text-align: center; top: -5px; left: -2px; }

#intro a.more:hover,#news a.more:hover { background:url(../images/jiantou.png) no-repeat 32px -126px; background-color: transparent; background-image: url("../images/jiantou.png");
background-repeat: no-repeat; background-attachment: scroll; background-position: 32px -126px; background-clip: border-box; background-origin: padding-box; background-size: auto auto;}

/*news*/
#news{margin-top:81px;}
#news>h3{color:#333333; font-size:26px; font-weight:normal; margin-bottom:14px; text-align:center;}
#news>span{text-align:center; color:#979797; margin-left:48%;}
#news p{color:#8F8F8F;}
#news ul{margin-top:70px; text-align:center;}
#news li{width:33.333%; box-sizing:border-box; float:left; padding-right:20px; transition:All 0.4s ease-in-out; -webkit-transition:All 0.4s ease-in-out;    -moz-transition:All 0.4s ease-in-out; -o-transition:All 0.4s ease-in-out;}
#news li.last{padding-right:0;}
#news li img{display:block; width:100%; height:189px;}
#news li h3{font-size:16px; font-weight:normal; color:#333333; margin-top:16px; margin-bottom:11px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#news li i{width:376px; height:1px; display:block; background:#EFEFEF; margin-top:30px; margin-bottom:36px;}
#news li p{color:#666666; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center;}
#news li:hover{transform:translate(0,-20px); -webkit-transform:translate(0,-20px);    -moz-transform:translate(0,-20px); -o-transform:translate(0,-20px); -ms-transform:translate(0,-20px);}
#news li:hover h3{color:#FF5959;}

/*link*/
#link{position:relative;}
#link ul{margin-top:30px;margin-bottom:30px;}
#link li{float:left; width:16%; padding-left:50px; box-sizing:border-box;}
#link li.five{margin-top:-3%;}
#link li img{display:block; width:100%; height:auto; vertical-align:middle;}

#link i{ width: 40px; height: 20px; display: block; transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position:absolute; top:85px; cursor:pointer;}

#link i.left{background: url(../images/jiantou.png) no-repeat 0px -50px;  left:0;}

#link i.right{background: url(../images/jiantou.png) no-repeat -37px -50px; right:0;}

#link i.left:hover{background: url(../images/jiantou.png) no-repeat 0px -70px; }

#link i.right:hover{background: url(../images/jiantou.png) no-repeat -37px -70px; }

/*footer*/
#footer{background:#F0F0F0; padding-top:43px; padding-bottom:15px;}
#footer h{color:#666666; font-weight:normal;}
#footer ul{margin-top:33px; margin-bottom:53px;}
#footer li{float:left; margin-right:10%; color:#999999; font-size:13px;}
/*#footer p a{display:inline-block; width:29px; height:29px; border-radius:30px;background:#A8A8A8; margin-right:20px; line-height:29px; text-align:center;}*/
#footer p a img{padding-top:5px;}
#footer span{display:block; width:100%; height:1px; background:#E4E4E4; margin-bottom:19px; margin-top:53px;}
#footer p{color:#999999;}

/*side*/
#leftsead{width:131px; position:fixed; top:400px; right:0; z-index:9999;}
#leftsead li{width:131px; height:60px;}
#leftsead li img{float:right;}
#leftsead li a{height:49px; float:right; display:block; min-width:47px; max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px; cursor:pointer; cursor:hand;}
#leftsead li a.youhui .hides{display:none; position:absolute; right:190px; top:2px;}

/*about-title*/
.about-title{height:40px; border-bottom:solid 2px #3ca3da;width:100%;}
.about-title .container{margin-top:20px;}
/*about-title*/

/*crumb*/

/*crumb*/

/*content*/
.content {width:100%;margin:0 auto;}
.content .container{margin-top:20px;padding-bottom:20px;}
.content .container p {line-height:1.8;margin-bottom:10px;text-indent:2em;}
.content .container #characteristic {padding-left:2em;}
.content .container #characteristic li {line-height:28px;}
.content .container #advantage {margin:0 auto;width:550px;}
.content .container #advantage li {margin-top:3px;height:45px; line-height:45px;}

.content .container #classicList {padding:20px 10px;}
.content .container #classicList li {font-size:16px;color:#666;font-weight:bold;line-height:36px;}

.content .mask-left{margin-left:200px;height: 45px;width: 350px;color:#007dbd;background:url(/images/mask-left.jpg) no-repeat center;font-size:14px;font-weight:bold;}
.content .mask-right{height: 45px;width: 350px;color:white;background:url(/images/mask-right.jpg) no-repeat center;font-size:14px;font-weight:bold;}

.content h3 {font-size:16px;font-weight:bold;line-height:28px;}
.content h4 {font-size:14px;font-weight:bold;line-height:22px;}
/*content*/

/*menu-left*/
.menu-left {padding-right:20px;}
.menu-left li {height:45px;line-height:45px;width:200px;background-color:#9b9b9a;color:black;border-bottom: 2px solid #FFF;padding-left:15px;}
.menu-left li:hover {background-color:#007dbd;}
.menu-left li a {font-size:14px;color:white;}
.menu-left .current {background-color:#007dbd;}
/*menu-left*/

/*services-content*/
.services-content {border-left:1px solid #9b9b9a;padding:0 20px;width:auto;}
.services-content .crumb{height:45px;background-color:#9b9b9a;color:white;line-height:45px;padding:0 20px;}
.services-content .crumb a {color:white;}
.services-content .crumb a:hover {color:red;}
.services-content .crumb img{width:15px;height:15px;margin:-3px 0 0 0;}
.services-content .crumb+h3{padding:10px 0;}
/*services-content*/

/*content-list*/
.content-list {padding:20px 0;}
.content-list ul {min-height:80px;height:auto !important;border-bottom:1px dotted #ccc;padding:5px 0;width:100%;white-space:nowrap;}
.content-list ul li {list-style:none;float:left;padding:0 1em;line-height:1.4;}
.content-list ul .content-title {width:86%;}
.content-list ul li .summary {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:86%;}
.content-list ul li a {font-size:16px; font-weight:bold;color:#4d4d4d;white-space:normal;}
.content-list ul .calendar {background-color:#f5f5f5;font-family: Arial;text-align:center;width:90px; border-radius: 5px;}
.content-list ul .calendar-day {border-bottom:2px solid #fff;line-height:32px;font-size:24px;width:100%;}
.content-list ul .calendar-date {line-height:22px;font-size:14px;}
/*content-list*/

/*news*/
.news {width:98%;margin:0 auto;}
.news .news-title {text-align:center;font-size:16px;font-weight:bold;color:#333;min-height:48px;padding:10px 0 10px 0;}
.news .news-time {text-align:center;font-size:14px;color:#999;line-height:28px;border-bottom:1px solid #cdcece;}
.news .news-content {padding:15px 0;}
/*news*/
/*icon*/
.icon-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: orangered;
    display: block;
    float: left;
    margin: 8px 10px 0 0;
}
/*icon*/

/*pagination*/
.pagination {width:100%;}
/*pagination*/

/*分页控件样式*/
.pages { color:red;font-weight:bold; clear:both; }
.pages  .item{padding: 1px 6px;font-size: 13px;} /*数字页索引样式*/
.pages a { border: 1px solid #ddd;padding:3px 10px;color:#333;font-weight:normal; background:#eee; }
.pages a:hover { background-color: #007dbd; color:#fff;border:1px solid #ddd; text-decoration:none;font-weight:normal;}
.pages span{ color:#000; padding:4px 10px; background-color:#ddd; margin:5px; }
/*分页控件样式*/

@media (max-width:1199px) {
    #top li a{padding:0 10px;} #top ul{margin-left:7%;} .logo img{width:90%;} #service li .sp_bg{margin-left:45%;} #service li i{margin-left:35%;} #link i{top:65%;}}
@media (max-width:990px) {#top ul{margin-left:-9%;} .logo img{width:60%; padding-top:20px;} #top span{display:none;} #top i{margin-left:0;} #top p{display:none;} #top i{display:none;}  #service li i{margin-left:30%;} #chanye a.more{margin-left:30%;} #city img{left:20%;} #link i{top:70%;} #link i.right{right:-10px;}}
@media (max-width:744px) {#top ul{float:none; position:absolute; top:80px; width:100%; left:0; background:rgba(0,0,0,.3); z-index:1; display:none; margin-left:0;} #top ul li{float:none; width:100%;} #top ul li a{text-align:left; width:100%; box-sizing:border-box; padding:0 30px;} #top .navBtn,#top .userBtn{position:absolute; display:inline-block; right:15px; top:-5px; font-size:30px; color:#333; cursor:pointer;}
	#top .userBtn{right:55px;} #top li:hover a{background:rgba(255,0,0,.3);} #top li.li2{width:100%;} #top li div a{display:inline-block; width:28%;}#top .searck{display:block;} #city img{left:12%;} #news .more {margin-left:36%;}}
@media (max-width:686px) {#service li i{margin-left:23%;} #intro .more{margin-left:38%;} #city img{left:9%;}}
@media (max-width:681px) {#link li.five{margin-top:-2%;}}
@media (max-width:639px) {#chanye a.more{margin-left:25%;} #city img{width:450px; left:12%;}}
@media (max-width:546px) {#link{display:none;}}
@media (max-width:532px) {#service li i{margin-left:18%;} #service li p{white-space:nowrap; text-overflow:ellipsis;} #service li h3{font-size:16px;}}
@media (max-width:513px) {#city img{width:390px;}}
@media (max-width:491px) {#chanye a.more{margin-left:20%;}}
@media (max-width:442px) {#city img{width:300px;} #city .text h3{padding-top:100px;}}
@media (max-width:414px) {#service li i{margin-left:12%;} #chanye a.more{margin-left:10%;} #intro .more{margin-left:30%;} #news .more {margin-left:30%;}}
@media (max-width:320px) {#service li i{margin-left:8%;} #chanye a.more {width:200px; margin-left:15%;} #chanye a.more:hover::after {width: 200px;} #chanye .title .p_list a{margin-right:50px;} #city img{width:260px;} #city .text h3{font-size:20px;} #city .text h3 font{font-size:40px;}#news .more {margin-left:25%;}}

@media (min-width: 1200px) {#intro>div .intro-pic{text-align:right;}.about-title .container{padding-left:100px;}.content .container{padding-left:100px;padding-right:100px;}
    .services-content{width:760px;}}