
@{
    ViewData["Title"] = "网页采集";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>网页采集</h2>
<div style="text-align:center;">
    <h3>政策信息采集</h3>
    <ul style="list-style:none;">
        <li class="floatleft">
            <input value="采集市经委信息" id="g_Cdgy_classId_2" data-classId="2" data-siteKey="Cdgy" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdgy_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集省经委信息" id="g_Jxt_classId_2" data-classId="2" data-siteKey="Jxt" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Jxt_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集市科技局信息" id="g_Cdst_classId_2" data-classId="2" data-siteKey="Cdst" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdst_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集省科技厅信息" id="g_Kjt_classId_2" data-classId="2" data-siteKey="Kjt" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Kjt_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集高新区信息" id="g_Cdht_classId_2" data-classId="2" data-siteKey="Cdht" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdht_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集天府新区信息" id="g_Cdtf_classId_2" data-classId="2" data-siteKey="Cdtf" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdtf_classId_2" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
    </ul>
</div>
<div class="clearfix"></div>
<div style="text-align:center;">
    <h3>申报快讯采集</h3>
    <ul style="list-style:none;">
        <li class="floatleft">
            <input value="采集市经委信息" id="g_Cdgy_classId_3" data-classId="3" data-siteKey="Cdgy" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdgy_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集省经委信息" id="g_Jxt_classId_3" data-classId="3" data-siteKey="Jxt" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Jxt_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集市科技局信息" id="g_Cdst_classId_3" data-classId="3" data-siteKey="Cdst" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdst_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集省科技厅信息" id="g_Kjt_classId_3" data-classId="3" data-siteKey="Kjt" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Kjt_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集高新区信息" id="g_Cdht_classId_3" data-classId="3" data-siteKey="Cdht" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdht_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集天府新区信息" id="g_Cdtf_classId_3" data-classId="3" data-siteKey="Cdtf" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdtf_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
        <li class="floatleft">
            <input value="采集金牛区信息" id="g_Cdtf_classId_3" data-classId="3" data-siteKey="Cdtf" type="button" class="gatherbtn" />
            <br />
            <span id="submitloading_Cdtf_classId_3" style="display:none;text-align:center;">采集开始<br /><img src="~/images/loading.gif" /></span>
        </li>
    </ul>
</div>
@section PageSpecificJavascriptIncludes{
    <script>
        $(function () {
            $(".gatherbtn").click(function (e) {
                var obj = $(e.target);
                var classId = obj.attr("data-classId");
                var siteKey = obj.attr("data-siteKey")
                var loadingId = "submitloading_" + siteKey + "_" + "classId" + "_" + classId;

                $.ajax({
                    url: "/Spider/Gather" + siteKey + "Website?pageStartNo=1&pageEndNo=2&classId=" + classId,
                    type: "POST",
                    timeout: 3000000, //超时时间设置，单位毫秒
                    beforeSend: function () {
                        obj.attr("disabled", "true");//防止连击
                        $("#" + loadingId).show();
                    },
                    success: function (result, status) {
                        if (result && "success" === status && 0 === result.status) {
                            alert(result.msg);
                            window.top.location.reload();
                            window.top.tb_remove();
                        }
                        $("#" + loadingId).hide();
                        obj.removeAttr("disabled");
                    },
                    error: function (xhr, status, error) {
                        $("#" + loadingId).hide();
                        obj.removeAttr("disabled");
                        document.write(xhr.responseText);
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                    },
                    complete: function (XMLHttpRequest, status) { //请求完成后最终执行参数
                        if ('timeout' === status) {//超时,status还有success,error等值的情况
                            ajaxTimeoutTest.abort();
                            console.log("超时");
                        }
                    }
                });
                return false;
            });

            //$("#g_jxt_classId_3").click(function () {
            //    $.ajax({
            //        url: "/Spider/GatherJxtWebsite?pageStartNo=1&pageEndNo=67&classId=2",
            //        type: "POST",
            //        beforeSend: function () {
            //            $("#g_jxt_classId_3").attr("disabled", "true");//防止连击
            //            $("#submitloading_jxt_classId_3").show();
            //        },
            //        success: function (result, status) {
            //            if (result && "success" === status && 0 === result.status) {
            //                alert(result.msg);
            //                window.top.location.reload();
            //                window.top.tb_remove();
            //            }
            //            $("#submitloading_jxt_classId_3").hide();
            //            $("#g_jxt_classId_3").removeAttr("disabled");
            //        },
            //        error: function (xhr, status, error) {
            //            $("#submitloading_jxt_classId_3").hide();
            //            $("#g_jxt_classId_3").removeAttr("disabled");
            //            document.write(xhr.responseText);
            //            console.log(xhr);
            //            console.log(status);
            //            console.log(error);
            //        }
            //    });
            //    return false;
            //});
        });
    </script>
}



